@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body,
html {
  text-align: center;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  margin: 0;
}
.home-top{
  background-image: url("/images/FreelanceWebDesignKent.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero, .home-top {
  min-height: 100vh;

}
.wave-bottom, .wave-top {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.wave-bottom{
  transform: rotate(180deg);
  bottom: -1px;
  left: 0;
}
.wave-bottom svg, .wave-top svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 68px;
}
.wave-top {
  top: 0;
  left: 0;
}
.wave-top svg {
  transform: rotateY(180deg);
}
.blog p {
  padding-bottom: 8px
}
/* .wave-top, .wave-bottom .shape-fill {
  fill: inherit;
}*/

@layer components {
  .markdown-content p, h2 {
  @apply mb-4
  }
  .markdown-content a {
  @apply underline hover:text-blue-600
  }
  .markdown-content h2 {
  @apply text-3xl
  }
  .markdown-content ul {
  @apply list-disc list-inside mb-2
  }
  .markdown-content ol {
  @apply list-decimal list-inside mb-2
  }
}
@media (prefers-color-scheme: dark) {
  .home-top{
  background-image: url("/images/FreelanceWebDesignKentDark.svg");
  }
}
@media (min-width: 1441px) {
  .home-top, .hero {
    min-height: 75vh;
  }
}