.padding {
    padding: 100px;
}
.homeTitle {
    padding-bottom: 20px;
}
.leftAlign {
    text-align: left;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;}
.card {
    margin: 25px;
    padding: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.01)
  
}
.cardSection {
    padding: 100px 50px
}
.dot, .dot2, .dot3 {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 24px;
  }
  .dot{
  background-color: #e3ffe7;
  }
  .dot2{
  background-color: #DFF4F2;
  }
  .dot3{
  background-color: #d9e7ff;
  }
.paddingBottom {
    padding-bottom: 30px;
}
.contactCard {
    margin: 25px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 4px 2px 17px 10px rgba(0,0,0,0.18); 
box-shadow: 4px 2px 17px 10px rgba(0,0,0,0.18);
}
.contactIcon {
    margin-right: 10px;
    margin-top: 10px;
}


@media (max-width: 1000px) {
    .padding{
        padding: 50px 25px;   
    }
}
@media (max-width: 950px) {
    .card {
    margin: 0;
    margin-top: 50px;
    }
}
@media (max-width: 700px) {
    .cardSection{
        padding: 50px;
    }
}
@media (max-width: 500px) {
    .cardSection{
        padding: 25px 25px 50px;
    }
    .contactCard {
    margin: 20px 0;
    }
}