.titleGreyh1, .titleGrey {
    color: #555;
}
.titleGrey {
    padding-bottom: 20px;
}
.titleGreyh1 {
    font-size: 2rem;
}
.dot, .dot2, .dot3, .dot4 {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 24px;
  }
.dot{
background-color: #e3ffe7;
}
.dot2{
background-color: #e0f9ed;
}
.dot3{
background-color: #dceef8;
}
.dot4{
background-color: #d9e7ff;
}
.cardHeight {
    min-height: 300px;
    padding: 10px 10px 0;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.01)
  ;}
.padding {
    padding: 50px 100px 100px;
}
.paddingImg{
    padding-bottom: 100px;
}
.paddingTopSides {
    padding: 100px 50px 10px;
}
.cardWrap {
    padding: 10px 30px;
}
.timelineTitle {
    padding: 120px 100px 20px;
}
.timelineButton {
    padding: 10px 0 100px;
}
.timelineTitle, .timelineButton {
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}
.contactCard {
    margin: 25px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 4px 2px 17px 10px rgba(0,0,0,0.18); 
box-shadow: 4px 2px 17px 10px rgba(0,0,0,0.18);
}
.contactIcon {
    margin-right: 10px;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .remove{
        display: none;
    }
}
@media (min-width: 1200px) and (max-width: 1311px) {
    .cardHeight{
        min-height: 330px;
        margin-bottom: 50px;
    }
}
@media (max-width: 1199px){
    .cardHeight {
        min-height: 280px;
        margin-bottom: 24px;

    }
}
@media (min-width: 991px){
   .removeImg {
       display: none;
   }
}
@media (max-width: 992px){
    .removeSmall {
        display: none;
    }
 }
@media (max-width: 767px){
    .cardHeight {
        min-height: 150px;
    }
    .padding {
        padding: 50px 50px 100px;
    }
    .timelineTitle {
        padding: 100px 50px 20px;
    }
}
@media (max-width: 500px){
    .padding {
        padding: 50px 18px 50px;
    }
    .paddingTopSides {
        padding: 75px 20px 10px;
    }
    .paddingImg{
        padding-bottom: 50px;
    }
    .contactCard {
        margin: 20px 0;
        }
}